@font-face {
  font-family: eRegular;
  src: url(/fonts/e-Ukraine-Regular.woff);
}

@font-face {
  font-family: eMedium;
  src: url(/fonts/e-Ukraine-Medium.woff);
}

@font-face {
  font-family: eBold;
  src: url(/fonts/e-Ukraine-Bold.woff);
}


body {
  margin: 0;
  padding: 0;
}

a, li {
  font-family: eMedium;
}


.header-container {
  position: sticky;
  background-color: rgb(168, 160, 160);
  padding: 30px 10px 30px 10px;
  align-items: center;
  text-align: center;
}


.button {
  padding: 10px 20px 10px 20px; 
  margin: 10px 10px 0px 10px;
  border-radius: 20px;
  background-color: rgb(115, 116, 116);
  color: white;
  text-decoration: none;
}

.button-focus {
  background-color: white;
  color: black;
  border-radius: 20px solid black;
}

.button-focus:hover {
  background-color: hsl(0, 5%, 83%) !important; 
}

.button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 24%);
}

p {
  font-family: eRegular ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: eBold;
}

.title {
  color: white;
  font-size: 42px;
}

main {
  padding: 30px 20px 30px 20px;
}

.main {
  overflow: hidden;
}

.text-container {
  clear: both;
}

.image-float-left {
  float: left;
}

.image-float-right {
  float: right;
}

.img-padding {
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
}


.photos {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px 100px 0px;
  width: 700px;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid img {
  display: block;
  width: 100%;
  height: auto;
}


footer {
  clear: both;
  display: flex;
  position: sticky;
  bottom: auto;
  padding: 30px 100px 30px 100px;
  align-items: center;
  background-color: rgb(168, 160, 160);
}

.footer-container {
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-link {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: white;
}