@font-face {
  font-family: eRegular;
  src: url(../fonts/e-Ukraine-Regular.woff);
}

@font-face {
  font-family: eMedium;
  src: url(../fonts/e-Ukraine-Medium.woff);
}

@font-face {
  font-family: eBold;
  src: url(../fonts/e-Ukraine-Bold.woff);
}


body {
  margin: 0;
  padding: 0;
}

a, li {
  font-family: eMedium;
}

.header-container {
  position: sticky;
  background-color: rgb(168, 160, 160);
  padding: 30px 10px 30px 10px;
  align-items: center;
  text-align: center;
}


.button {
  padding: 10px 20px 10px 20px; 
  margin: 10px 10px 0px 10px;
  border-radius: 20px;
  background-color: rgb(115, 116, 116);
  color: white;
  text-decoration: none;
}

.button-focus {
  background-color: white;
  color: black;
  border-radius: 20px solid black;
}

.button-focus:hover {
  background-color: hsl(0, 5%, 83%) !important; 
}

.button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 24%);
}

p {
  font-family: eRegular ;
}

h1, h2, h3, h4, h5, h6 {
  font-family: eBold;
}

.title {
  color: white;
  font-size: 42px;
}

main {
  padding: 30px 20px 30px 20px;
}

.main {
  overflow: hidden;
}

.text-container {
  clear: both;
}

.image-float-left {
  float: left;
}

.image-float-right {
  float: right;
}

.img-padding {
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
}


.photos {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px 100px 0px;
  width: 700px;
  height: 600px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid img {
  display: block;
  width: 100%;
  height: auto;
}


footer {
  clear: both;
  display: flex;
  position: sticky;
  bottom: auto;
  padding: 30px 100px 30px 100px;
  align-items: center;
  background-color: rgb(168, 160, 160);
}

.footer-container {
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-link {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: white;
}


.item--yellow {
  background-color: rgb(246, 206, 6);
}

.item--green {
  background-color: rgb(15, 154, 15);
}

.item--blue {
  background-color: rgb(18, 77, 179);
}

.main__items {
  display: flex;
  justify-content: center;
  padding: 70px;
  background-color: rgb(86, 87, 87);
  border: 6px solid rgb(40, 40, 40);
}

.second__section--modifier {
  display: flex;
  justify-content: center;
}

.main__item {
  padding: 50px 150px 30px 100px;
  margin-left: 10px;
  margin-top: 10px;
  border: 5px solid black;
}

.first__section {
  display: flex;
  justify-content: space-between;
}

.second__section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.third__section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.four__section {
  display: flex;
  justify-content: flex-end;
}

.five__section {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.third__section--start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.third__section--end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}