.text {
    .text__center {

        .text__about {
            text-align: center;
        }
        
        .text__about-me {
            text-align: center;
            white-space: pre-line;
        }
    }
}