.block {
    display: flex;
    justify-content: center;
    color: $color-contrast;
    background-color: $color-accent;
    min-height: 200px;
    gap: 45px;
    overflow: hidden;
    &__item {
        display: flex;
        align-items: center;
        margin: 10px 0;
        }
        
        &__img {
        margin-right: 20px;
        }
}


@media screen and (max-width: 868px) {
    .block {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        padding-left: 100px;

        .block__item {
            
            width: 0 calc(50vw - 555px);
            font-size: 10px;
            .block__img {
                width: 40px;
                margin-right: 10px;
            }
        }
    }
}