.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: $color-accent;
    color: $color-contrast;
    &__name {
        color: $color-contrast;
        margin: 0 0 20px;
        font-size: 21px;
    }
    &__copyright {
        font-size: 13px;
        margin: 0;
    }
}
    
