.offer {
    padding-top: 142px;
    padding-bottom: 142px;

    &__container {
        max-width: 540px;
        }

        &__title {
            margin: 0 0 60px;
        }

        &__desc {
            margin: 0 0 60px;
        }
}


@media screen and (max-width: 1215px) {
    .offer {
        padding-left: 50px;
        .offer__container {
            .offer__title {
                font-size: 28px;
            }
            .offer__desc {
                font-size: 16px;
            }
        }
    }
}