.work__container {
    .work__title {
        text-align: center;
        margin-top: 100px;
    }
    
    .work__text {
    text-align: center;
    white-space: pre-line;
    }
}

.img__rectangle {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;

    .img__btn {
        position: absolute;
        top: 40%;
        background: none;
        border: none;
    }
}


@media screen and (max-width: 868px) {
    .work__container {
        display: flex;
        justify-content: flex-start;
        padding-left: 180px;
    }

    .img__rectangle {
        display: flex;
        justify-content: flex-start;
        padding-left: 150px;

        .img {
            width: 800px;
        }

        .img__btn {
            padding-left: 350px;
        }
    }
}