/* ! Fonts shortcuts? */
@font-face {
  font-family: eThin;
  src: url(/fonts/e-Ukraine-Thin.woff);
}

@font-face {
  font-family: eUltraLight;
  src: url(/fonts/e-Ukraine-UltraLight.woff);
}

@font-face {
  font-family: eLight;
  src: url(/fonts/e-Ukraine-Light.woff);
}

@font-face {
  font-family: eRegular;
  src: url(/fonts/e-Ukraine-Regular.woff);
}

@font-face {
  font-family: eMedium;
  src: url(/fonts/e-Ukraine-Medium.woff);
}

@font-face {
  font-family: eBold;
  src: url(/fonts/e-Ukraine-Bold.woff);
}
